/* Global Styles */
body {
  margin: 0;
  font-family: 'Playfair Display', serif; /* Police définie globalement */
  background-color: black;
  color: white;
}
* {
  font-family: inherit;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}




