// _global.scss
@use './variable' as vars;




body {
  margin: 0;
  font-family: vars.$font-main;
  background-color: vars.$color-bg;
  color: vars.$color-text;
  line-height: 1.6;
}

h1, h2, h3 {
  font-weight: 600;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}