/* variables.scss */
$font-main: 'Arial', sans-serif;
$color-bg: #000;
$color-text: #fff;
$color-highlight: #c2a661; // doré foncé
$color-accent: #b22222; // rouge foncé
$color-border: #333;
$color-upcoming-bg: rgb(93, 15, 15);
